html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

#map {
  height: 100%;
}

.phone-cluster-icon {
      display: table;
      width: 66px;
      height: 66px;
      margin-left: -32px;
      margin-top: -32px;
      background-color: rgba(33, 117, 0, 0.486);
      font-size: 28px;
      border-radius: 100%;
      text-align: center;
      padding: 7px;

}

.icon-cluster {
      display: table-cell;
      width: 52px;
      height: 52px;
      background-color: rgba(174, 241, 87, 0.6);
      border: 1px solid rgb(70, 124, 0);
      border-radius: 100%;
      vertical-align: middle;
}

.leaflet-div-icon {
      background: none !important;
      border: none !important;
}
