<template>
  <div>
    <div class="map-control">
      <div class="sos" @click="sosAlert('Кнопка «SOS»','Данная функция находится в разработке и будет доступна после будущих обновлений приложения')"><img src="../assets/img/sos.png"></div>
      <div class="hr"></div>
      <div class="element-control layers" @click="sosAlert('Кнопка «СЛОИ»','Данная функция находится в разработке и будет доступна после будущих обновлений приложения')"></div>
      <div class="hr"></div>
      <div class="element-control zoom-in" @click="mapZoomIn"></div>
      <div class="element-control zoom-out" @click="mapZoomOut"></div>
      <div class="hr"></div>
      <div class="element-control" v-bind:class="[ (stateLocation==1) ? onLocationClass : offLocationClass ]" @click="markerSerch"></div>
    </div>
    <div class="alert" :style="{visibility: visible ? 'visible' : 'hidden'}">
      <div class="alert-box">
        <div class="t-alert">{{ t }}</div>
        <div class="m-alert">{{ m }}</div>
        <div class="button-box">
          <button class="close-button" @click="closeAlert">ПОНЯТНО</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { store, storeMutations } from '../store/store'

  export default {
    data: function () {
      return {
        onLocationClass: "location-on",
        offLocationClass: "location-off",
        t: '',
        m: '',
        visible: false
      };
    },
    computed: {
      stateLocation(){
        return store.stateLocation
      }
    },
    props: ['searchMarker', 'zoomInMap', 'zoomOutMap'],
    methods: {
      markerSerch() {        
        this.stateLocation==0 ? storeMutations.setStateLocation(1) : storeMutations.setStateLocation(0)
        this.searchMarker()
      },
      mapZoomIn() {
        this.zoomInMap()
      },
      mapZoomOut() {
        this.zoomOutMap()
      },
      sosAlert(t,m) {
        this.visible = true
        this.t = t
        this.m = m
      },
      closeAlert() {
        this.visible = false
      }
    },
  }
</script>

<style scoped>

  img {
    width: 100%;
  }

  .map-control {
    position: fixed;
    z-index: 2000;
    top: 10px;
    right: 10px;
    text-align: center;
  }

  .alert {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2001;
    background-color: rgba(0, 0, 0, 0.555);
  }
  @media screen and (orientation: landscape) {
  
  .t-alert {
    padding: 20px;    
    font-weight: bold;
    font-size: 2em;
  }

  .m-alert {
    padding: 20px;
    font-size: 1.5em;
  }
  
  .close-button{
    font-size: 1.5em;
    color: #007710;
    padding: 10px;
  }
  }

 @media screen and (orientation: portrait) {
    
  .t-alert {
    padding: 20px;    
    font-weight: bold;
    font-size: 3em;
  }

  .m-alert {
    padding: 20px;
    font-size: 2em;
  }
  
  .close-button{
    font-size: 2em;
    color: #007710;
    padding: 10px;
  }
  }   

  .alert-box {
    margin: 5em auto;
    padding: 20px;
    width: 60%;
    border: 1px solid #bbb;
    border-radius: 15px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }

  .t-alert {
    padding: 20px;    
    font-weight: bold;
  }

  .m-alert {
    padding: 20px;
  }

  .button-box{
    text-align: center;
  }

  .close-button{
    color: #007710;
    padding: 10px;
  }

  .layers {
    background: url("../assets/img/layers.png");
  }

  .zoom-in {
    background: url("../assets/img/zoom_in.png");
  }

  .zoom-out {
    background: url("../assets/img/zoom_out.png");
  }

  .location-off {
    background: url("../assets/img/location-off.png");
  }  

  .location-on {
    background: url("../assets/img/location-on.png");
  }

  .element-control {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 100%;
  }

.sos{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #bbb;
    background-color: rgba(255, 230, 0, 0.5);
    border-radius: 100%;
}

  @media all and (orientation: portrait) {
   
  .hr{
    height: 40px;
  }

  .sos{
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
   
   .map-control {
      margin: 20px 20px 0 0;
    }

    .element-control {
      width: 160px;
      height: 160px;
      margin-top: 10px;
      margin-left: 20px;
    }
    
  }

  @media screen and (orientation: landscape) {

  .hr{
    height: 10px;
  }

  .sos{
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
    
    .map-control {
      margin: 10px 0 0 0;
    }

    .element-control {
      width: 60px;
      height: 60px;
      margin: 10px 0 0 10px;
    }
  }

</style>