<template>
  <div class="info">
   <!-- <div class="watch-id">ID: {{ idWatch }} ({{ latlon }})</div>
    <div class="">T: {{ formatDate }}</div>
         <input id="idWatch" class="watch-id" v-model="idWatch" placeholder="Введите ID">
    <button class="find-id" @click="markerSerch">Найти</button> -->
  </div>
</template>

<script>
  import moment, {
    locale
  } from "moment";

  export default {
    data: function () {
      return {
        latlon: null,
        datetime: null,
        idWatch: null,
      };
    },
    props: ['searchMarker'],
    watch: {
      idWatch: function () {}
    },
    methods: {
/*       watchMarker(id, coord, dt) {
        let lat = parseFloat(coord[0]).toFixed(4);
        let lon = parseFloat(coord[1]).toFixed(4);
        this.latlon = lat + ", " + lon;
        this.datetime = dt;
        this.idWatch = id;
      }, */
      markerSerch() {
        this.searchMarker(this.idWatch)
      }
    },
    computed: {
      formatDate() {
        if (this.datetime) {
          return moment(String(this.datetime)).format(
            "DD.MM.YYYY HH:mm:ss",
            locale("ru")
          );
        }
      }
    }
  };
</script>

<style scoped>
  .info {
    visibility: hidden;
    position: fixed;
    z-index: 2000;
    border: 2px solid #bbb;
    border-radius: 3px;
    background: #ffffff7d;
  }

  @media all and (min-width:1024px) {
    .info {
      bottom: 100px;
      left: 50px;
      padding: 20px;
      font-size: 4em;
    }
    .svg-icon{
      width: 34px !important;
      height: 54px !important;
    }
  }

  @media all and (max-width:1024px) {
    .info {
      bottom: 100px;
      left: 50px;
      padding: 20px;
      font-size: 3em;
    }
    .svg-icon{
      width: 34px !important;
      height: 54px !important;
    }
  }

  @media all and (max-width:780px) {
    .info {
      bottom: 100px;
      left: 50px;
      padding: 20px;
      font-size: 1.5em;
    }
    .svg-icon{
      width: 34px !important;
      height: 54px !important;
    }
  }

  @media all and (max-width:530px) {
    .info {
      bottom: 100px;
      left: 50px;
      padding: 20px;
      font-size: 1em;
    }
  }

  @media all and (orientation: landscape) {}

  @media all and (orientation: portrait) {}
</style>