<template>
  <div id="app">
    <div id="map" class="map" @click="stopWatch"></div>
    <m-control ref="mcontrol" :searchMarker="searchMarker" :zoomInMap="zoomInMap" :zoomOutMap="zoomOutMap"></m-control>
  </div>
</template>

<script>
  import leaflet from "leaflet";
  import markerclaster from "leaflet.markercluster"
  import mapcontrol from "./components/mapcontrol.vue";
  import { storeMutations } from './store/store'

  export default {
    components: {
      "m-control": mapcontrol
    },
    data() {
      return {
        map: null,
        tileLayer: null,
        markerCluster: null,
        places: [],
        markers: [],
        idDevice: this.$route.query.id,
        watchID: null,
      };
    },
    created() {
      this.axios
        .get("https://fe3.ru/phppgadmin/request.php?/map/locations")
        .then(response => {
          if (!response.data.error) {
            response.data.locations.forEach(elem => {
              this.places[elem.iddevice] = {
                id: elem.iddevice,
                latlng: [elem.lat, elem.lon],
                online: elem.online,
                status: elem.id_phone_status
              };
            });
          }
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          this.loading = false;
          this.initMap();
          this.initLayers();
        });
    },
    methods: {
      initMap() {
        this.map = L.map("map").setView([51.533103, 46.034158], 5);
        this.tileLayer = L.tileLayer(
          "https://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoicm9tYW4tc2EiLCJhIjoiY2pwZ3B6bzk0MG1mMTN2bnZzdW5oamJwMSJ9.jKgWs9Bbz8w_7zxPjgK4iQ", {
            minZoom: 3,
            tileSize: 512,
            zoomOffset: -1,
            attribution: "Percheron"

          }
        );
        this.tileLayer.addTo(this.map);
        this.map.removeControl(this.map.zoomControl);
        this.markerCluster = L.markerClusterGroup({
          maxClusterRadius: 80,
          iconCreateFunction: function (cluster) {
            return L.divIcon({
              html: "<div class='phone-cluster-icon'><span class='icon-cluster'>" + cluster.getChildCount() + "</span></div>"
            });
          },
          disableClusteringAtZoom: 17,
          spiderfyOnMaxZoom: false
        })
      },
      initLayers() {
        this.places.forEach(elem => {
          this.createMarker(elem);
        });
        this.map.addLayer(this.markerCluster);
      },
      createIcon(color) {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(
            navigator.userAgent)) {
          var LeafIcon = L.Icon.extend({
            options: {
              shadowUrl: 'dist/img/marker-shadow.png',
              iconSize: [50, 82],
              shadowSize: [41, 41],
              iconAnchor: [25, 82],
              shadowAnchor: [12, 41],
              popupAnchor: [-3, -76]
            }
          });
          switch (color) {
            case "green":
              var icon = new LeafIcon({
                iconUrl: 'dist/img/marker-icon-2x-free.png'
              })
              break
            case "red":
              var icon = new LeafIcon({
                iconUrl: 'dist/img/marker-icon-2x.png'
              })
              break
            case "grey":
              var icon = new LeafIcon({
                iconUrl: 'dist/img/marker-icon-2x-na.png'
              })
          }
        } else {
          var LeafIcon = L.Icon.extend({
            options: {
              shadowUrl: 'dist/img/marker-shadow.png',
              iconSize: [25, 41],
              shadowSize: [41, 41],
              iconAnchor: [12, 41],
              shadowAnchor: [12, 41],
              popupAnchor: [-3, -76]
            }
          });
          switch (color) {
            case "green":
              var icon = new LeafIcon({
                iconUrl: 'dist/img/marker-icon-free.png'
              })
              break
            case "red":
              var icon = new LeafIcon({
                iconUrl: 'dist/img/marker-icon.png'
              })
              break
            case "grey":
              var icon = new LeafIcon({
                iconUrl: 'dist/img/marker-icon-na.png'
              })
          }
        }
        return icon
      },
      createMarker(data) {
        if (!data.online) {
          this.markers[data.id] = L.marker(data.latlng, {
            icon: this.createIcon("grey")
          })
        } else {
          switch (data.status) {
            case 4:
              this.markers[data.id] = L.marker(data.latlng, {
                icon: this.createIcon("green")
              })
              break
            case 5:
              this.markers[data.id] = L.marker(data.latlng, {
                icon: this.createIcon("red")
              })
              break
            default:
              this.markers[data.id] = L.marker(data.latlng, {
                icon: this.createIcon("green")
              })
          }
        }
        this.markers[data.id].on("click", e => {
          this.watchID = e.sourceTarget._icon.id
          this.map.setView(e.latlng, 19)
        })
        this.markerCluster.addLayer(this.markers[data.id])
      },
      changeStatus(data) {
        if (typeof data.id == "number") {
          if (this.places[data.id] !== undefined) {
            if (!data.online) {
              var icon = this.createIcon("grey")
            } else {
              switch (data.id_phone_status) {
                case 4:
                  var icon = this.createIcon("green")
                  break
                case 5:
                  var icon = this.createIcon("red")
                  break
                default:
                  var icon = this.createIcon("green")
              }
            }
            this.markers[data.id].setIcon(icon)
            if (data.lat && data.lon) {
              this.markers[data.id].setLatLng([data.lat, data.lon])
              let lat = parseFloat(data.lat).toFixed(4)
              let lng = parseFloat(data.lon).toFixed(4)
              console.log("id: " + data.id + ", latlng: " + lat + "," + lng)
              if (this.watchID == data.id) {
                this.map.panTo([data.lat, data.lon])
              }
            } else {
              console.log("id: " + data.id + ", status: " + data.id_phone_status + ", online: " + data.online)
            }
          } else {
            if (
              data.lat !== undefined &&
              data.lon !== undefined &&
              data.online !== undefined &&
              data.id_phone_status !== undefined
            ) {
              this.places[data.id] = {
                id: data.id,
                latlng: [data.lat, data.lon],
                online: data.online,
                status: data.id_phone_status
              };
              this.createMarker(this.places[data.id])
              console.log("Добавление: " + data.id + "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
            }
          }
        }
      },
      searchMarker() {
        if (this.idDevice != undefined) {
          var id = this.idDevice;
          this.watchID = id;
          if (this.markers[id] != undefined) {
            this.map.setView(this.markers[id]._latlng, 19);
          } else {
            this.$refs["mcontrol"].sosAlert(
              "Ваше устройство не отправляет координаты",
              ""
            );
          }
        } else {
          this.$refs["mcontrol"].sosAlert("Нет такого ID", "");
        }
      },
      zoomInMap() {
        this.map.zoomIn(1);
      },
      zoomOutMap() {
        this.map.zoomOut(1);
      },
      stopWatch(){
        this.watchID = null
        storeMutations.setStateLocation(0)
      }
    },
    sockets: {
      connect: function () {
        console.log("Socket connected");
      },
      customEmit: function (data) {
        this.changeStatus(data);
      }
    },
    computed: {}
  };
</script>

<style scoped>
  @import "./assets/style/system.css";
  @import "./assets/style/leaflet.css";
  @import "./assets/style/MarkerCluster.css";
  @import "./assets/style/MarkerCluster.Default.css";
</style>